<h3 style="font-weight: bold; color: #504941; font-size: 22px; margin:0;">Hello {{userName}},</h3>
<h3 style="font-weight: bold; color: #fd8f00; font-size: 22px; margin:0;">{{coderName}} is going to broadcast about "{{videoTitle}}" right now on CodersTV.</h3>
<p>Don't be late, go watch it: <a href="{{coderURL}}">{{coderURL}}</a></p>

<h3 style="font-weight: bold; color: #504941; font-size: 22px; margin:0;">Video Description:</h3>

<p>{{{videoDescription}}}</p>
<div style="font-size: 11px; color: #ccc;">
<br/>
<br/>
<br/>
<p>If you don't want to receive from {{coderName}}, <a href="{{unsubscribeCoderURL}}">click here</a> and unsubscribe.
</div>
